@media only screen and (max-width: 600px) {
  .home {
    display: block !important; 
  }
  
  .home,
  .w25, 
  .w50, 
  .w75, 
  .bomb-featured, 
  .bomb-featured,
  .post-featured,
  .bomb-img, 
  .bomb-featured .bomb-img img
  .post-featured,
  .post-thumb,
  .post-list li,
  .footer-col-wrapper, 
  .bomb-featured,
  .footer-col,
  .contact-list,
  .footer-heading,
  .post-featured .bomb-img img,
  .site-footer,
  .bomb-featured-small .bomb-img img,
  .bomb-staggered .bomb-text, 
  .bomb-staggered .bomb-img, 
  .bomb-staggered .bomb-img img, 
  .home ul {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    clear:both;
  }

  .post-list li.bomb-staggered {
    min-height: 250px;
  }
  
  .footer-col-wrapper {
    margin-left: 5px !important;
  }

  .post-thumb .bomb-img {
    width: 80px !important;
    min-width: 80px !important;
  }

  .bomb-img {
    min-width: 0 !important;
  }

  .bomb-featured-small .bomb-img img {
    right: 0 !important;
  }
  .bomb-featured-small .bomb-text {
    margin: 0 !important;
  }
  
  .site-nav { 
    background-color: #242424 !important;
    border: 1px solid #3c3c3c !important; 
  }
  
  .site-nav .menu-icon > svg {
    fill: #ededed !important;
  }

}

.home { 
  min-width: 1100px;
}

footer a:visited {
  color: #666 !important;
}

footer a:hover {
  color: #fff !important;
}

.bomb-featured-small .bomb-text {
  padding-left: 0px; 
  position: relative;
  margin-left: 210px;
}

/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark; 
  // border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.svg-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: #828282;
  margin-right: 5px;
  padding-right: 0px; 
  }

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  background: #0e0e0e; 
}

.site-footer * {
  font-size: 0.95rem;
  color:#888;
}

.site-footer p {
  padding-left: 5px;
}


.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  margin-left: -10px;
  @extend %clearfix;
} 
.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  min-width: 250px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
  text-align: right; 
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;
  max-width: 560px; 

  > li {
    margin-bottom: $spacing-unit;
    min-height: 150px;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


.post-list li {
  justify-content: flex-start; 
  flex-wrap: nowrap; 
  // display: flex;
  margin-right: 30px;
  margin-left: 30px;

}

.post-list .bomb-text {
  flex-grow: 4;
}

.post-list .bomb-img img { 
  margin-right: 20px;
  border-radius: 6px;
}

.post-list .bomb-img img { 
  border-radius: 6px; 
}
  
a {
  color: #111;
}

a:visited {
  color: #2b2b2b;
}

a:hover {
  text-decoration: none; 
}

.post-list .post-link {
  display: block;
  font-size: 20px;
}

.post-link {
  display: block;
  font-size: 20px;
  line-height: 1.3;
}

.bomb-text h3 a {
  font-weight: bolder;
}


.post-thumb { 
  list-style: none;
  max-width: 500px; 
}

.post-thumb li {
  justify-content: flex-start;
  flex-wrap: nowrap;
  display: flex;
  max-height: 94px;
  min-height: 94px;
  
    justify-content: flex-start;
    flex-wrap: nowrap;
    display: flex;
    max-height: 83px;
    min-height: 100px;
    overflow: hidden;
  
  }

.post-thumb .bomb-text {
  flex-grow: 4;
}

.post-thumb .bomb-img img {
  max-width: 1000px;
  height: 100%;
  margin-right: 20px;
  border-radius: 6px;
  margin-bottom: 30px;
  opacity: .5;
  width: auto;
  }

.post-thumb .bomb-img {
  -webkit-backface-visibility: hidden;
  background: #000;
  line-height: 0;
  margin-right: 15px;
  overflow: hidden;
  width: 80px;
  }



.post-thumb .bomb-img img { 
  border-radius: 6px; 
}

.post-thumb .bomb-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 6px;
}

.post-thumb .post-link {
  display: block;
  font-size: 15px;
}

.bomb-img {
  max-height: 250px;
  overflow: hidden;
  border-radius: 6px;
}

.home {
  display: flex; 
}

.wrapper {
  max-width: -webkit-calc(1280px - (30px * 2));
  max-width: calc(1280px - (30px * 2));
}

.post-featured {
  width: 300px;
}

.post-featured .bomb-img img {
  border-radius: 6px; 
  width: 300px; 

}

.bomb-featured,
.bomb-featured .bomb-img, 
  .bomb-featured .bomb-img img {
  min-width: 460px; 

}

*, ::after, ::before {
  box-sizing: border-box;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
  }

ul, ol {
  margin-left: 0px;
  list-style-type: none;
}

.bomb-featured .post-link {
font-size: 32px; 
line-height: 1.3; 

}

.post-thumb .bomb-img img {
  opacity: 0.6;
  }
  .post-thumb .bomb-img img:hover {
    opacity: 1;
    }


  // .post-thumb .bomb-img img:after {
  // content: counter(mvp-trend);
  // color: #fff;
  // font-size: 30px;
  // font-weight: 700;
  // line-height: 1;
  // margin: 25px 0 0;
  // opacity: 1;
  // position: absolute;
  // top: 0;
  // left: 0;
  // text-align: center;
  // width: 100%;
  // }

  .mvp-feat1-list-in {
margin-left: 95px;
}

.post-thumb .bomb-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 6px; 
  float: left;
  position: relative; 
  min-width: 80px;
  margin-right: 15px;
  }

  .post-list .bomb-img {
    float: left;
    min-height: 150px;
  }

  .bomb-featured .bomb-img {
    min-height: 300px;
  }

  .post-list li.bomb-staggered {
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-right: 0px;
    margin-left: 0px; 
  }

  :not(.post-excerpt) > .first-word {
    color: #166079;
    font-variant: small-caps;
    font-weight: bold;
  }
  
  .post-content > p:first-child::first-letter {
    float: left;
    font-size: 3.15em;
    line-height: 0.5;
    margin: 0.159em 0.159em 0 0;
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
  }

.bomb-featured-small .bomb-img {
  min-height: 0;
}

.feat-img {
  border-radius: 6px;  
  width: 100%; 
}


.site-header {
  background: #0e0e0e;  
}
  
  .site-nav .page-link {
    color: #e9e9e9;
    }

h2.footer-heading {
  max-width: 9999px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  }


  .post-content {
margin-bottom: 30px;
max-width: 600px;
margin: auto;
}

.bomb-staggered li {
// margin-bottom: 105px;
}

.post-list li.bomb-staggered {
/* justify-content: flex-start; */
/* flex-wrap: nowrap; */
margin-right: 0px;
margin-left: 0px;
clear: both;
padding-top: 10px;
padding-bottom: 10px;
}

.bomb-featured-small {
clear: both; 
}

.bomb-featured-small .bomb-img img {
border-radius: 6px; 
}

.bomb-staggered .bomb-img, 
.bomb-featured-small .bomb-img {
  min-height: 0;
  border-radius: 6px;
  max-height: 200px;
  max-width: 200px;
  min-height: 100px;
  min-width: 100px;
}

.bomb-staggered .bomb-img {
  float: left;
  min-height: 150px;
  border-radius: 6px;
  max-height: 150px;
  max-width: 150px;
  min-height: 100px;
  min-width: 100px;
  overflow: hidden;
}


.post-list .bomb-img img { 
padding-right: 0px;
border-radius: 6px;
}

.bomb-staggered .bomb-text { 
margin-left: 25px;
padding-left: 150px;  
padding-top: 25px;
}

// .bomb-staggered .bomb-img img { 
// margin-top: 20px;
// }

.bomb-featured-small .bomb-text { 
  // padding-left: 200px;
  }

  .bomb-featured .bomb-img {
    max-height: 400px; 
    overflow: hidden; 
    border-radius: 6px;
  }

  .bomb-text h3 a {
    font-weight: 700;
  }

  .post-link { 
    font-size: 24px;
    line-height: 1.3;
    }


    .posts.archives {
      width: 600px;
      margin: auto;
      }

.post-categories a,
.post-tags a {
  background: #0e0e0e; 
  color: #eee; 
  border-radius: 6px; 
  padding: 7px;
  font-size: 13px; 
  text-transform: uppercase;  
  font-weight: 600; 
  
}

.post-categories {
  float: left; 
  margin-right: 20px; 
}

.bomb-featured-small .bomb-text {
  // padding-left: 210px;
  }

.newsletter {
  background: #0e0e0e;
  padding: 15px;
  text-align: center;
  border-radius: 6px; 
  margin-bottom: 25px;
}

.newsletter input[type=text] { 
  width: 100%;
  height: 32px;
  padding: 15px;
  font-size: 15px;
  border-radius: 6px;
  border: 5px solid whitesmoke;
  background: #eee;
}

.newsletter input[type=submit] {
  width: 75%; 
  padding: 4px; 
  font-size: 14px;
  border-radius: 6px;
  border: 5px solid rgb(223, 223, 223);
  background: #cfcfcf;
  text-transform: uppercase;
  font-weight: 900 !important;
  -weight: bold;
  font-weight: 900 !important;
  }



.bomb-featured-small p,
.bomb-staggered p,
.post-featured p,
.bomb-featured p {
  font-size: 0.95rem;
}

.bomb-staggered .bomb-img {
  float: left;
  min-height: 150px;
  border-radius: 6px;
  max-height: 150px;
  max-width: 150px;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
  background: #eee;
  display: grid;
  }

  .bomb-staggered .bomb-img img {
    width: auto;
    min-width: auto;
    padding-right: 0px;
    border-radius: 0px;
    height: auto;
    max-width: 300px;
    margin: auto;
    position: relative;
    vertical-align: middle;
    margin-top: auto;
    }

  .bomb-staggered {
      margin-bottom: 30px;
      min-height: 150px;
      max-height: 175px;
  }

  .bomb-staggered .bomb-img, .bomb-featured-small .bomb-img {
    min-height: 0;
    border-radius: 6px;
    max-height: 200px;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
}

.post-thumb {
  list-style: none;
  max-width: 500px;
  clear: both;
  margin: 20px 0;
}

.post-title { 
  margin-bottom: 20px;
}

.bomb-staggered .bomb-text { 
  padding-left: 200px; 
}

.post-thumb:first-child {
  margin: 0;
}

.post-thumb .post-link { 
  min-height: 50px;
}

.bomb-featured-small .bomb-img img {
  width: 500px;
  max-width: 300px;
  border-radius: 6px;
  position: relative;
  right: 25%;
}

.bomb-staggered .bomb-img, .bomb-featured-small .bomb-img {
    min-height: 0;
    border-radius: 6px;
    max-height: 150px;
    max-width: 200px;
    min-height: 150px;
    min-width: 200px;
    overflow: hidden;
}
.bomb-article-foot {
  margin: 0 !important;
  clear: none;
}

.bomb-archives {
  max-width: 100%; 
}

.bomb-archives h3,
.bomb-archives p {
  margin: 0; 
}

footer .page-link { 
  display: block !important;  
  margin-left: 35px; 
}

