---
layout: default
---
<meta property="og:image" content="{{ site.url }}/assets/images/opengraph.png" />
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2> -->

    {%- include home-widget-featured.html -%}
    {%- include home-widget-list.html -%}
    {%- include home-widget-thumbs.html -%}

  {%- endif -%}

</div>

<div class="w100">
  <div class="w50 right">


    <div class="w100 right">
      {%- include zodiac.html -%}
    </div>

    <h1 class="archives-header">World <span>News</span></h1>
    <ul class="post-list posts archives box">
        {% for post in site.posts offset:11 %}
            {% if post.categories contains "World" or post.category == "World" %}
                {% include postbox.html %}
            {% endif %}    
        {% endfor %}
    </ul>
    
    <h1 class="archives-header">Navel <span>News</span></h1>
    <ul class="post-list posts archives box">
        {% for post in site.posts offset:11 %}
            {% if post.categories contains "Navel" or post.category == "Navel" %}
                {% include postbox.html %}
            {% endif %}    
        {% endfor %}
    </ul>
  </div>

  <div class="w50 left">
    <h1 class="archives-header">Political <span>News</span></h1>
    <ul class="post-list posts archives box">
        {% for post in site.posts offset:11 %}
            {% if post.categories contains "Politics" or post.category == "Politics" %}
                {% include postbox.html %}
            {% endif %}    
        {% endfor %}
    </ul>
  </div>

</div> 

        