---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%-m/%-d/%Y"  -%}
        {{ page.date | date: date_format }}
        • 
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      <span class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/category/{{category|slugize}}/">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </span>

    </p>
    <div class="color">
      {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    
<div class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tag/{{tag|slugize}}/">{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

<br> 
<p><small>{% github_edit_link "Suggest a correction." %}</small></p>
    <script src="https://utteranc.es/client.js"
        repo="tblobaum/thenewworldpost.com"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
<br> <br> <br> <br> 

{%- if site.posts.size > 0 -%}
<!-- <h2 class="post-list-heading">{{ page.list_title | default: "Articles" }}</h2> -->
 
{% assign min = 5 %}
{% assign max = 30 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}

<div class="w75" style="margin: auto;height: 150px;">
  <ul class="post-list w100"> 
  {%- for post in site.posts offset:randomNumber limit:1 -%}
  <li class="bomb-featured-small bomb-article-foot w50 left">
    <div class="bomb-img">
      {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
      {%- assign date_format = site.minima.date_format | default: "%-m/%-d/%Y" -%}
    </div>
    <div class="bomb-text">
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </div>
  </li>
  {%- endfor -%}
  </ul>
</div>
<br><br>
<div class="w75" style="margin: auto; clear:both;">

  <div class="w50 left">
    <ul class="post-thumb"> 
      {%- for post in site.posts offset:0 limit:4 -%}
      <li>
        <div class="bomb-img">
          {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
          {%- assign date_format = site.minima.date_format | default: "%-m/%-d/%Y" -%}
        </div>
        <div class="bomb-text">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>  
        </div>
      </li>
      {%- endfor -%}
    </ul>
    
  </div>
  <div class="w50 right" style="margin: auto;">

    <ul class="post-thumb"> 
      {%- for post in site.posts offset:4 limit:4 -%}
      <li>
        <div class="bomb-img">
          {% if post.featured-image %}{% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}{% endif %}
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        </div>
        <div class="bomb-text">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>  
        </div>
      </li>
      {%- endfor -%}
    </ul>
    

  </div>
</div>

{%- endif -%}

</div>

